<div class="popup-overlay">
    <div class="popup-content">
      <h3>Izmeni grupu</h3>
      <form>
        <div class="form-group">
          <label for="name">Naziv grupe:</label>
          <input type="text" id="name" name="name" [(ngModel)]="group!.name" required>
        </div>
        <div class="form-group">
          <label for="description">Opis grupe:</label>
          <textarea id="description" name="description" [(ngModel)]="group!.description" required></textarea>
        </div>
        <div class="form-actions">
          <button id="btnIzmeni" type="button" (click)="updateGroup()">Izmeni</button>
          <button id="btnOtkazi" type="button" (click)="closeEditPopup()">Otkaži</button>
        </div>
      </form>
    </div>
  </div>  