.container {
    width: 800px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    border: 4px solid #0e98dc;
}

.group-header {
    background-color: #001621;
    margin: 6px;
    padding-bottom: 10px;
}

.group-name {
    margin-bottom: 20px;
}

.group-description {
    border-bottom: 2px solid #0e98dc;
    padding-bottom: 10px;
}

.group-body {
  text-align: left;
}

.rules-action {
    margin-top: 10px;
}

.add-rules {
    background-color: transparent;
    color: aqua;
    padding: 5px;
    cursor: pointer;
    border: 2px solid aqua;
    border-radius: 5px;
}