<div class="container">
  <app-search-group (searchResults)="onSearchResults($event)"></app-search-group>
  <div class="container" *ngIf="!showSearchResults">
    <h1 class="group-header">Sve grupe:</h1>
    <div *ngIf="groups.length === 0" class="no-results">
      Nema rezultata pretrage.
    </div>
    <div class="group-card" *ngFor="let group of groups">
      <a [routerLink]="['/groups', group.id]">
        <div>
          <h2 class="group-name">{{ group.name }}</h2>
          <p class="group-description">{{ group.description }}</p>
          <p class="group-creationDate">Datum kreiranja: {{ group.creationDate }}</p>
        </div>
      </a>
      <div class="group-edit-delete">
        <button class="edit-group-button" (click)="openEditPopup(group)">Izmeni</button>
        <button class="delete-group-button" (click)="deleteGroup(group.id)">Obrisi</button>
      </div>
    </div>
  </div>
  </div>
  <div *ngIf="!showSearchResults" class="group-actions">
    <button class="add-group-button" (click)="openPopup()">Dodaj novu grupu</button>
  </div> 
  <app-edit-group-popup [group]="this.group" *ngIf="showEditPopup" (popupEditClosed)="closeEditPopup()"/> 
  <app-new-group-popup
  *ngIf="showPopup"
  (groupAdded)="addGroup($event)"
  (popupClosed)="closePopup()"/>

  <div class="containerSearch" *ngIf="showSearchResults">
    <h1>Rezultati pretrage</h1>
    <div *ngFor="let result of searchResults" class="group-card divSearch">
      <h2 [innerHTML]="result.name | highlight: searchTerm"></h2><br>
      <p>Broj objava:</p>
      <p [innerHTML]="result.numberOfPosts"></p><br>
      <p>Prosečan broj lajkova:</p>
      <p [innerHTML]="result.averageLikes"></p>
      <p>Opis:</p>
      <p [innerHTML]="result.description | highlight: searchTerm"></p>
    </div>
    <button class="close-search" (click)="closeSearch()">Zatvori pretragu</button>
  </div>
  