.post-card {
  background-color: rgb(9, 30, 30);
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 10px;
  border: 3px solid #ccc;
}

.post-card .post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.create-post-content {
  width: 500px;
  text-align: center;
}

.create-post-content textarea {
  width: 99%;
  height: 100px;
  resize: none;
  color: black;
}

.post-card .post-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.post-card .post-actions button {
  color: black;
}

#btnObjavi {
  width: 60px;
  height: 20px;
  background-color: rgb(0, 255, 0);
  font-weight: bold;
}

.post {
    background-color: rgb(9, 30, 30);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid #ccc;
    position: relative;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .post-content {
    background-color: black;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid whitesmoke;
  }

  .post-header p {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2px;
  }

  #editText {
    color: black;
  }

  #editText, #content {
    width: 100%;
    height: 100px;
  }

  #btnIzmeni, #btnEditComment {
    background-color: gold;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 2px;
  }

  #btnIzmeni, #btnOtkazi, #btnPotvrdi {
    color: black;
    margin-top: 14px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 2px;
  }

  #btnObrisi {
    position: absolute;
    right: 0;
    top: 200px;
    margin-top: 30px;
    margin: 10px;
    color: white;
    background-color: rgba(255, 0, 0, 0.614);
    cursor: pointer;
    border-color: white;
    border-radius: 2px;
  }

  #btnDeleteComment {
    background-color: rgba(255, 0, 0, 0.614);
    cursor: pointer;
    border: 2px solid white;
    color: white;
    border-radius: 2px;
  }

  #btnOtkazi {
    color: white;
    background-color: rgba(120, 13, 13, 0.836);
  }

  #btnPotvrdi {
    color: white;
    background-color: rgba(1, 128, 56, 0.836);
  }
  
  .post-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .post-actions button {
    color: black;
    cursor: pointer;
    border: black;
    border-radius: 2px;
  }
  
  .comments {
    padding: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    background-color: rgba(110, 62, 0, 0.614);
  }

  #commentInput {
    color: black;
  }
  
  .comment {
    margin-bottom: 5px;
    position: relative;
  }

  #btnAddComment {
    background-color: rgba(0, 94, 225, 0.505);
    border: 2px solid white;
    margin-left: 10px;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }

  #commentTimestamp {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  #editComment {
    color: black;
  }

  .buttonComment {
    color: black;
    position: absolute;
    right: 0;
    top: 0;
  }

  .buttonComment:last-of-type {
    top: 30px;
  }

  .comment-reactions button {
    color: black;
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid black;
    margin: 10px;
    margin-left: 0px;
    font-weight: bold;
  }

  .comment-reactions, .reactions {
    display: flex;
    flex-direction: row;
  }

  button {
    font-weight: bold;
  }
  
#commentCreator {
  font-weight: bold;
  font-size: 18px;
  color: greenyellow;
}

#postCreator {
  color: greenyellow;
}
